   Architecture:        SUN UltraSPARC
   Machine:             LCA Cosmos with MPICH
   MPI:                 On
   jbPerf/jbMem:        Off
   I/O:                 HDF5
   Global precision:    Double
   Particles precision: Double
   Optimization level:  Debug + Optimize
   Object file type:    64-bit objects
   FFT:                 Numerical Recipes FFT
   Code optimizations:  On (excludes un-tested optimizations)
   Test suite hooks:    Off
