   Architecture:        IBM PowerPC
   Machine:             SDSC DataStar
   MPI:                 On
   jbPerf/jbMem:        jbPerf
   I/O:                 HDF5
   Global precision:    Double
   Particles precision: Double
   Optimization level:  Debug + Optimize
   Object file type:    64-bit objects
   FFT:                 F90 FFT
   Code optimizations:  dcc Move dt
   Test suite hooks:    Off
